
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: gold;
}
.off {
  color: #ccc;
}


@media (prefers-reduced-motion: no-preference) {
  .image {
    height: 300px;
    width: 300px;
  
  }
}

button:hover {
  background-color: whitesmoke;
  border: black solid 1px;
  color: black;
} 

button.default-nav, button.postButton {
  display: block;
  background-color: #000000;
  border: none; 
  border-radius: 5px; 
  height: 30px;
  width: max-content;
  color: whitesmoke;
  font-size: 20px;
  margin: 1rem;
}

.postTile, .reviewTile{
  background-color: rgba(0, 0, 0, 0.589);
  border: rgba(252, 252, 252, 0.705) solid 1px;
  padding: 2rem;
  width: 300px;
  display: inline-grid;
  margin: 2rem 2rem;
  box-shadow: 3px 4px black;
  block-size: fit-content;
  border-radius: 10px;
  text-align: center;
  color:whitesmoke;
}

.submit {
  position: relative;
  background-color: #000000;
  border: 1px; 
  border-radius: 5px; 
  height: 40px;
  width: max-content;
  color: whitesmoke;
  font-size: 20px;
  justify-self: center;
  margin: 1rem;
}

.submit:hover {
  background:#e6eaee;
  color:rgb(0, 0, 0);
  border:1pxsolid#eee;
  border-radius:5px;
  box-shadow:5px5px5px#eee;
  text-shadow:none;
}