.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
.home h1{ 
  color: whitesmoke;
  background-color: black;
  font-family: 'Baumans';
  font-size: 200px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
 }

 .home, .signup, .login, .postProfile, .userProfile, .community{
  font-family: 'Baumans'; 
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:black;
  overflow: hidden;
}


button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: gold;
}
.off {
  color: #ccc;
}
/* .navbar {
  text-align: center;
 
} */

.image {
    height: 500px;
    width: 500px;
  }

.tileImage {
  height: 300px;
  width: 300px;
}

button:hover {
  background-color: whitesmoke;
  border: black solid 1px;
  color: black;
} 

.navbar{
  text-align: center;
  font-family: 'Baumans'; 
 
  background: #000000;
  
  margin: auto;
  height: 40px;
  width: max-content;
  color: whitesmoke;
  font-size: 25px;
 
}

.postTile, .reviewTile, .user, .post{
  font-family: 'Baumans'; 
  background-color: rgba(0, 0, 0, 0.589);
  border: rgba(252, 252, 252, 0.705) solid 1px;
  padding: 2rem;
  width: 500px;
  margin: auto;
  box-shadow: 3px 4px black;
  block-size: fit-content;
  border-radius: 10px;
  text-align: center;
  color:whitesmoke;
}

.tile{
  font-family: 'Baumans'; 
  background-color: rgba(0, 0, 0, 0.589);
  border: rgba(252, 252, 252, 0.705) solid 1px;
  padding: 3rem;
  width: 200px;
  margin: auto;
  box-shadow: 3px 4px black;
  block-size: fit-content;
  border-radius: 10px;
  text-align: center;
  color:whitesmoke;
}

.submit, .delete, .createPost {
  font-family: 'Baumans'; 
  position: relative;
  background-color: #000000;
  border: 1px; 
  border-radius: 5px; 
  height: 40px;
  width: max-content;
  color: whitesmoke;
  font-size: 20px;
  justify-self: center;
  margin: 1rem;
}

.submit:hover {
  background:#e6eaee;
  color:rgb(0, 0, 0);
  border:1pxsolid#eee;
  border-radius:5px;
  box-shadow:5px5px5px#eee;
  text-shadow:none;
}

.reviewButton {
  font-family: 'Baumans'; 
  font-size: 20px;
  background-color: #000000;
  border: none; 
  border-radius: 5px; 
  color: whitesmoke;
  height: 40px;
  width: 200px;
  position: absolute;
  top: 45%;
  right: 0;
  transform: translateY(-45%);
}
.reviewForm {
  font-family: 'Baumans'; 
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-25%);
}
.updateButton {
  font-family: 'Baumans'; 
  font-size: 20px;
  background-color: #000000;
  border: none; 
  border-radius: 5px; 
  color: whitesmoke;
  height: 40px;
  width: 200px;
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-45%);
}
.updateForm { 
  font-family: 'Baumans'; 
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-25%);
}
.incomeButton {
  font-family: 'Baumans'; 
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-55%);
}

h1 {
  font-size: 65px;
  font-family: 'Baumans'; 
  text-align: center; 
  color:whitesmoke;
}

h2 {
  font-size: 45px;
  font-family: 'Baumans'; 
  text-align: center; 
  color:whitesmoke;
}

.community h1 {
  background-color: whitesmoke;
  color: black;
  font-size: 85px;
  font-family: 'Baumans'; 
}

.star {
  color:gold;
}